<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="concursantes" />

	<aop:aspectj-autoproxy />

	<!-- bean id="soneto" class="concursantes.impl.Soneto" /> <bean id="piano" 
		class="concursantes.impl.Piano" /> <bean id="malabarista" class="concursantes.impl.Malabarista"> 
		<constructor-arg value="5" /> </bean> <bean id="malabarstaRecitador" class="concursantes.impl.MalabaristaRecitador"> 
		<constructor-arg value="5" /> <constructor-arg ref="soneto" /> </bean> <bean 
		id="pianista" class="concursantes.impl.Musico"> <property name="cancion" 
		value="Noche de Paz" /> <property name="instrumento" ref="piano" /> </bean -->

	<bean id="jasonSax" class="concursantes.impl.Musico">
		<property name="cancion" value="Equinox" />
		<!-- inner bean, no se comparte con otros beans -->
		<property name="instrumento">
			<bean class="concursantes.impl.Saxo" />
		</property>
	</bean>

</beans>
